@* @inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <FluentToastProvider MaxToastCount="10" />
    </main>
</div> *@



@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

@* Add Blazored.Toast container *@
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="3"
                IconType="IconType.Material"
                ErrorIcon="Error"
                InfoIcon="Info"
                SuccessIcon="Success"
                WarningIcon="Warning"
                ShowProgressBar="@true"
                ShowCloseButton="@true"
                MaxToastCount="3">
    <CloseButtonContent>
        <div>
            <span class="myCloseButtonStyleClass">&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>

<FluentLayout>
    
    <FluentHeader>
        IOTWeb
    </FluentHeader>

    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>


            @* FluentUI toast service never worked, dont waste time !! *@
            @* <FluentToastProvider MaxToastCount="10" /> *@
        </FluentBodyContent>
    </FluentStack>

</FluentLayout>
